*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #FFFFFF;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 74px;
  background-color: #335870;
  font-family: 'Zen Dots', cursive;
}

.logo a{
  color: #FAF4DD;
  text-transform: capitalize;
  letter-spacing: 5px;
  font-size: 25px;
  text-decoration: none;
}
.logo{
  margin-right: auto;
  margin-left: auto;
}

footer{
  text-align: center;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: grey;
}
body{
  background-color: #17202A;
  font-size: 20px;

}
 ul{
   color: #EBEBEB;
   margin: 25px;
   list-style-type: none;
}
article{
  width: 36em;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 100%;
  line-height: 1.5;
}
p{
  margin-bottom: 20px;
}
h2{
    border-bottom: thin solid #e5e5e5;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: rgb(229, 229, 229);
    color: orange;
    font-family: 'Zen Dots', cursive;
}
h1.title{
  font-size: 40px;
  text-align: center;
  color: #FAF4DD;
  font-family: 'Zen Dots', cursive;
}
table a{
  border: 0px ;
  width: 35%;
  border-collapse: collapse;
  text-decoration: none;
}
td {
  text-align: left;
  padding: 8px;
}
th{
  color: orange;
  font-family: 'Zen Dots', cursive;
}
#more{
  display: none;
}
button{
  margin-bottom: 10px;
  margin-left: -14px;
  background: none;
  color: orange;
  border: none;
  outline: none;
  padding: 5px 15px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 17px;
}
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=radio] {
    transform: scale(1);
}

/* Create a custom radio button */
.container input {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  cursor: pointer;
  background-color: #eee;
}

input[type=checkbox] {
    transform: scale(1);
}
img{
max-width: 55%;
display: block;
}
.i5{
max-width: 29%;
}
.x299x{
  max-width: 35%;
}
.pcsetup{
  max-width: 70%;
 height: 295px;
 float: right;
 /* position:absolute; */
}
.pcparts{
  border: 1px solid white;
}
.note{
  font-size: 20px;
}
.total{
  border: 1px solid white;
  font-size: 23px;
  font: bold;
  color: orange;
  cursor: pointer;
  background-color:  none;
  margin-bottom: 50px;
  width:250px;
  height:70px;
  position: absolute;
}
.total:hover{
  background-color: orange;
  color: black;
}
.result{
  padding: 13px 15px 7px 14px;
  margin-left: 290px;
  color: black;
  text-align: center;
}
textarea{
  width: 250px;
  height: 70px;
}
label{
  margin-top: 30px;
}
.block{
  background-color: orange;
  text-align: center;
  margin-left: -14px;
  margin-right: 60px;
  margin-bottom: 50px;
}
.totaltext{
  color: black;
  font-family: 'Zen Dots', cursive;
}

 @media only screen and (max-width: 600px) {
   .logo a{
     margin-left: 50px;
     display: inline-block;
     text-align: center;
   }
   article, body{
     font-size: 20px;
   }
   .pcsetup{
     max-width: 500px;
    height: 295px;
    float:  none;
    margin-left: auto;
    margin-right: auto;
   }
   table{
     font-size: 23px;
     margin-left: auto;
     margin-right: auto;
     padding: 18px;
   }
   .note{
    text-align: center;
   }
   .title{
     font-size: 18px
   }
   .block{
     margin-right: auto;
     margin-top: 50px;
   }
   .textarea{
     width: 150px;
     height: 60px;

   }
   .result{
     padding: 13px 15px 7px 14px;
     margin-bottom: 50px;
     margin-left: 25%;
     color: black;
     text-align: center;
   }
   .total{
     border: 1px solid white;
     font-size: 23px;
     margin-bottom: 50px;
     margin-left: 25%;
     width:250px;
     height:70px;
     position: sticky;
   }
   .clear{
     margin-bottom: 50px;
     margin-left: 35%;
   }
  }
